@using Library;
@using Library.WebShare;
@using PagedList
@using PagedList.Mvc
@*@model List<MessageReply>*@
@model IPagedList<MessageReply>
@{
    ViewBag.Title = "留言板";
}

<div class="row">
    <h2>留言板</h2>
    <div class="table-responsive">
        <div class="col-md-9 col-md-offset-2">
            <button type="button" class="btn btn-primary btn-sm " style="margin-top:10px ;margin-bottom:10px;" value="建立新的留言" onclick="location.href='@Url.Action("Create", "Message")'">建立新的留言</button>
        </div>

        <div class="col-md-9 col-md-offset-2">
            @foreach (MessageReply item in Model)
            {
                <div class="card">
                        @using (Html.BeginForm("Delete", "Message", new { id = item.Messages.Id }))
                        {
                    <div class="card-header">
                        <ul>
                            @Html.Label("會員暱稱")  : @Html.DisplayFor(modelItem => item.Messages.UserName)
                        </ul>
                        <ul>
                            @Html.Label("留言內容") :  @Html.DisplayFor(modelItem => item.Messages.Context)
                        </ul>
                        <ul>
                            @Html.Label("留言日期") : @Html.DisplayFor(modelItem => item.Messages.CreatDate)
                        </ul>
                        @if (SessionManagement.LoginUser != null && SessionManagement.LoginUser.UserClass == 2)
                        {
                            <input type="submit" class="btn btn-danger btn-sm" value="刪除" onclick="return confirm('確定要刪除嗎? 名稱 = @item.Messages.UserName , 留言內容 = @item.Messages.Context');" />
                        }
                    </div>
                        }
                    <div class="card-body">
                        <h5>回覆內容</h5>
                        @foreach (Reply reply in item.ReplyList)
                        {
                            <ul>
                                @Html.Label("會員暱稱")  : @Html.DisplayFor(modelItem => reply.UserName)
                            </ul>
                            <ul>
                                @Html.Label("回覆內容") :  @Html.DisplayFor(modelItem => reply.Context)
                            </ul>
                            <ul>
                                @Html.Label("回覆日期") :  @Html.DisplayFor(modelItem => reply.CreatDate)
                            </ul>
                            <hr />
                        }
                        @*<input type="button" class="btn btn-primary btn-sm" value="回覆" onclick="location.href='@Url.Action("Create", "Reply", new {  messageId = item.Messages.Id })'" />*@
                            @{Html.RenderAction("Create", "Reply", new { messageId = item.Messages.Id });}  
                    </div>
                </div>
              }
            @Html.PagedListPager(Model, pageNumber => Url.Action("Index",
                 new
                 {
                     pageNumber,
                 }),
                 new PagedListRenderOptions
                 {
                     Display = PagedListDisplayMode.IfNeeded,
                 })
        </div>
    </div>
</div>


