@using Library;
@using Library.WebShare;
@model MessageReply
@{
    ViewBag.Title = "留言板";

}

<div class="row">
    <h2>留言板</h2>
    <div class="table-responsive">
        <div class="col-sm-7">
            <button type="button" class="btn btn-primary btn-sm " style="margin-top:10px ;margin-bottom:10px;" value="建立新的留言" onclick="location.href='@Url.Action("Create", "Message")'">建立新的留言</button>
        </div>

        <div class="col-sm-7">

                <div class="card">
                    <div class="card-header">
                        <ul>
                            @Html.Label("會員暱稱")  : @Html.DisplayFor(modelItem => Model.Messages.UserName)
                        </ul>
                        <ul>
                            @Html.Label("留言內容") :  @Html.DisplayFor(modelItem => Model.Messages.Context)
                        </ul>
                        <ul>
                            @Html.Label("留言日期") : @Html.DisplayFor(modelItem => Model.Messages.CreatDate)
                        </ul>

                    </div>
                    <div class="card-body">
                        <h5>回覆內容</h5>
                        @foreach (Reply reply in Model.ReplyList)
                        {
                            using (Html.BeginForm("DeleteReply", "Message", new { ReplyId = reply.Id }))
                            {
                            <ul>
                                @Html.Label("會員暱稱")  : @Html.DisplayFor(modelItem => reply.UserName)
                            </ul>
                            <ul>
                                @Html.Label("回覆內容") :  @Html.DisplayFor(modelItem => reply.Context)
                            </ul>
                            <ul>
                                @Html.Label("回覆日期") :  @Html.DisplayFor(modelItem => reply.CreatDate)
                            </ul>
                                if (SessionManagement.LoginUser != null && SessionManagement.LoginUser.UserClass == 2)
                                {
                              <input type="submit" class="btn btn-danger btn-sm" value="刪除" onclick="return confirm('確定要刪除嗎? 名稱 = @reply.UserName , 留言內容 = @reply.Context');" />
                                }
                            }
                            <hr />
                        }

                            @*<input type="button" class="btn btn-primary btn-sm" value="回覆" onclick="location.href='@Url.Action("Create", "Reply", new {  messageId = Model.Messages.Id })'" />*@
                            <div class="col-sm-9">
                                @*@{Html.RenderAction("Create", "Reply" , new [] { messageId = Model.Messages.Id });}*@
                                @{Html.RenderAction("Create", "Reply", new { messageId = Model.Messages.Id });}  
                            </div>            
                        </div>
                </div>
        </div>
    </div>
</div>


